<%= form_for @kouken do |f| %>
  <div class="field">
  <%= f.label :タイトル %>
  <%= f.text_field :title, :size => 30 %>
</div>

<div class="field">
<%= f.label :YouTube %>
<%= f.text_field :YouTube, :size => 30 %>
</div>

<div class="field">
<%= f.label :写真 %>
<%= f.text_field :image, :size => 30 %>
</div>


<div class="field">
  <%= f.label :活動内容  %>
  <%= f.select :tag, 
  [["A", "A"], 
  ["B", "B"], 
  ["C", "C"]], include_blank: "選択して下さい" %>
</div>

<div class="field">
  <%= f.label :本文  %>
  <%= f.text_area :main, :size => "30x2" %>
</div>

<%= f.submit "投稿する" %>
<% end %>

<%= link_to "一覧に戻る", koukens_path %>