<%= stylesheet_link_tag 'top', :media => "all" %>
<div class="slide">
<%= image_tag 'bbq.jpg' %>
<%= image_tag 'hanabi.jpg' %>
<%= image_tag 'umi.jpg' %>
</div>

<%= link_to "Introduction", kouken_syoukai_path %>
<%= link_to "新規投稿", new_kouken_path %>
<%= link_to "ログイン", koukens_path %>
<%= link_to "新規登録", new_user_registration_path %>
<%= link_to "イベント", kouken_event_path %>